.score-wrapper {
  background-color: var(--accentColor);
  color: #fff;
  font-size: 24px;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 25px;
  right: 50px;
}

.score-wrapper p {
  margin: 0;
  padding: 0;
}
